{% extends 'base.html' %}{% load static %}
{% block styleArea %}{% endblock %}
{% block mainArea %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 video-editor" >
            <video controls autoplay>
                <source src="{{video.video}}" type="video/mp4">
            </video>
            <div class="video-title">
                <h4>{{video.title}}</h4>
            </div>
            <div class="row mt-3">
                <div class="col-4 video-details">
                    <img src="{{video.channel.logo.url}}" alt="">
                    <div class="channel-name">
                        <p>{{video.channel.name}}
                            <br>
                            <span class="text-muted">{{video.channel.total_subscription}}M</span>
                        </p>
                        
                    </div>
                </div>
                <div class="col-2 tags">
                    <p class="tag subscribe-button light">Subscribe</p>
                </div>
                <div class="col-3 likeUnlike tags">
                    <div class="tag light">
                        <a href="#" id="likeBtn" class="light"><img id="likeImg" src="/static/images/like.png" alt="">{{video.like}}</a>
                        <a href="#" id="unlikeBtn" class="light"><img id="unlikeImg" src="/static/images/unlike.png" alt=""></a>
                    </div>
                </div>
                <div class="col-2 tag share">
                    <a href="" class="light"><img src="/static/images/share.png" alt="">Share</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 tag light">
                    <h6 class="text-dark">
                        {{video.views}}K views  {{dt.created_on|date:'d'}} ago
                    </h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, blanditiis autem sit debitis dolor quos eveniet, vitae accusamus est repellat ipsam laboriosam voluptas assumenda, quasi nihil labore tempora odio mollitia.</p>
                </div>
            </div>
            <div class="row mt-3" >
                <div class="col-12">
                    <h5>Comments</h5>
                    <form action="{% url 'playVideo' video.id %}" method="post">
                        {% csrf_token %}
                        <div class="flex-div comments">
                            <img src="{{video.channel.logo.url}}" alt="">
                            <input type="text" name="comments" placeholder="Add a comments">
                            <button type="submit" class="btn">Comment</button>
                        </div>
                    </form>
                </div>
                {% if comments %}
                {% for dt in comments %}
                <div class="col-12 mt-3">
                    <div class="flex-div comments">
                        <img src="{{dt.video.channel.logo.url}}" alt="">
                        <div>
                            <h6>{{dt.video.channel.name}}</h6>
                            <p class="text-muted">{{dt.comments}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                <div class="col-12 mt-3">
                    <div class="flex-div comments">
                        <img src="/static/images/logo.png" alt="">
                        <div>
                            <h6>prakash@gmail.com</h6>
                            <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo, a! Voluptas vitae id minus. Sint, veniam? Modi quo dolore est qui voluptatem culpa veritatis nisi, recusandae, iure expedita rerum molestias.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="flex-div comments">
                        <img src="/static/images/logo.png" alt="">
                        <div>
                            <h6>prakash@gmail.com</h6>
                            <p class="text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo, a! Voluptas vitae id minus. Sint, veniam? Modi quo dolore est qui voluptatem culpa veritatis nisi, recusandae, iure expedita rerum molestias.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 related">
            <div class="card">
                <div class="card-header">
                    Related video
                </div>
                <div class="card-body">
                    {% for dt in videos %}
                    <div class="row mb-4">
                        <div class="col-4">
                            <img src="{{dt.thumbnail.url}}" alt="">
                        </div>
                        <div class="col-8">
                            <h5>{{dt.title|truncatechars:60}}</h5>
                            <p class="text-muted card-text">{{dt.channel.name}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scriptArea %}
<script>
    fn_BindComments()
</script>
{% endblock %}