{% extends 'base.html' %}
{% load static %}
{% block styleArea %}{% endblock %}
{% block mainArea %}
<!-- ------------side bar ------- -->
<div class="sidebar">
    <div class="shortcut-links">
        <a href="">
            <img src="/static/images/home.png" alt="home"><p>Home</p>
        </a>
        <a href="">
            <img src="/static/images/shorts.jpg" alt="explore"><p>Shorts</p>
        </a>
        <a href="">
            <img src="/static/images/subscribe.png" alt="subscription"><p>Subscription</p>
        </a>
        <a href="">
            <img src="/static/images/user.png" alt="user"><p>You</p>
        </a>
        
    </div>
 </div>
 <!-- ----------main body---------- -->
 <div class="main-body" id="mainbody">
    
    <div class="container">
        <div class="tags flex-div">
            <div class="tag dark">All</div>
            <div class="tag light">Music</div>
            <div class="tag light">T-Series</div>
            <div class="tag light">Songs</div>
            <div class="tag light">News</div>
        </div>
        <hr>
        <!-- 
        <div class="list-container">
            <div class="vid-list">
                <a href="">
                    <img src="/static/images/card.jpg" alt="" class="thumbnail">
                </a>
            </div>
            <div class="flex-div">
                <img src="/static/images/user.png" alt="">
                <div class="vid-info">
                    <a href="">This is my video for learning youtube clone</a>
                    <p>learn form me</p>
                    <p>14k views 2days</p>
                </div>
            </div>
        </div> -->
    
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6">
                <div class="card">
                    <img src="/static/images/card.jpg" class="card-img-top" alt="...">
                    <div class="card-body flex-div">
                        <div class="thumbnail">
                            <img src="/static/images/user.png" alt="">
                        </div>
                        <div class="content">
                            <h5 class="card-title">Card title hsjhdkashdkahadkh jashdkjh jaskdhk</h5>

                            <p class="card-text text-muted">prakash.com</p>
                            <p class="card-text text-muted"><span>150 Like</span><span>30 views</span></p>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6">
                <div class="card">
                    <img src="/static/images/card.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6">
                <div class="card">
                    <img src="/static/images/card.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6">
                <div class="card">
                    <img src="/static/images/card.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
 </div>
{% endblock %}
{% block scriptArea %}{% endblock %}
    