{% extends 'base.html' %}
{% load static %}
{% block styleArea %}{% endblock %}
{% block mainArea %}

 <!-- ----------main body---------- -->
 <div class="main-body" id="mainbody">
    
    <div class="container">
        <div class="tags flex-div">
            <div class="tag dark">All</div>
            <div class="tag light">Music</div>
            <div class="tag light">T-Series</div>
            <div class="tag light">Songs</div>
            <div class="tag light">News</div>
        </div>
        <hr>
        <!-- 
        <div class="list-container">
            <div class="vid-list">
                <a href="">
                    <img src="/static/images/card.jpg" alt="" class="thumbnail">
                </a>
            </div>
            <div class="flex-div">
                <img src="/static/images/user.png" alt="">
                <div class="vid-info">
                    <a href="">This is my video for learning youtube clone</a>
                    <p>learn form me</p>
                    <p>14k views 2days</p>
                </div>
            </div>
        </div> -->
    
        <div class="row">
            {% for dt in videos %}
            <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6 mb-4">
                <div class="card">
                    <a href="{% url 'playVideo' dt.id %}">
                        <img src="{{dt.thumbnail.url}}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body flex-div">
                        <div class="thumbnail">
                            <a href="{% url 'playVideo' dt.id %}">
                                <img src="{{dt.channel.logo}}" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="{% url 'playVideo' dt.id %}">
                                <h6 class="card-title">{{dt.title|truncatechars:50}}</h6>
                            </a>
                            <p class="card-text text-muted">{{dt.channel.name}}</p>
                            <p class="card-text text-muted">{{dt.like}} Like &nbsp; {{dt.views}} views</p>
                        </div>
                    </div>
                  </div>
            </div>
            {% endfor %}
            {% for dt in videos %}
            <div class="col-md-6 col-lg-4 col-xl-4 col-sm-6 mb-4">
                <div class="card">
                    <a href="{% url 'playVideo' dt.id %}">
                        <img src="{{dt.thumbnail.url}}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body flex-div">
                        <div class="thumbnail">
                            <a href="{% url 'playVideo' dt.id %}">
                                <img src="{{dt.channel.logo}}" alt="">
                            </a>
                        </div>
                        <div class="content">
                            <a href="{% url 'playVideo' dt.id %}">
                                <h6 class="card-title">{{dt.title|truncatechars:50}}</h6>
                            </a>
                            <p class="card-text text-muted">{{dt.channel.name}}</p>
                            <p class="card-text text-muted">{{dt.like}} Like &nbsp; {{dt.views}} views</p>
                        </div>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>
 </div>
{% endblock %}
{% block scriptArea %}{% endblock %}
    